.cartWidget {
    width: auto;
    padding: 8px;
    border-radius: 3px;
    font-size: 10px;
    background-color: #c5e7d4;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    font-size: medium;
    margin-right: 20px;
}