.navbar {
        font-size: 1.1rem;
        font-weight: 400; 
}


.logo {
    width: 150px;
}

.categories {
    width: 100%;
    justify-content: space-around;
    padding-top: 8px;
}

.nav-link {
    text-decoration: none;
    color: #fffbdf;
}